/ajax
/components
/include
/modules/intervolga.custom
/modules/opensource.order
/php_interface
/styles
/templates
/users_discount

webstat
*.zip
*.gz
*.tar
*.pdf
*.sql
*.log
*.mp3
*.svf
*.csv
*.xml
*.log
*.map

/*.xml
/*.yml
/*.csv

.idea
Thumbs.db
._.DS_Store
.DS_Store

!.gitlab-ci.yml
!.gitignore
.htaccess
.htaccess.restore
robots.txt
feed*.xml

error_log*
site.webmanifest
sitemap.xml
sitemap_iblock_*.xml
node_modules
*.raw
!/bitrix/.settings_extra.php